<div class="container pt-3">
    <div class="row pb-3">
        <div class="col">
            <div *ngIf="canEdit">
                <button class="btn btn-sm btn-secondary float-end" (click)="showAttributeAddModal()">
                    <span *ngIf="!attributes || !attributes.length">Add</span> <span
                    *ngIf="attributes && attributes.length">Edit</span> Attributes
                </button>
            </div>

            <div class="text-muted fst-italic mt-2" *ngIf="!paging.processing && (!attributes || !attributes.length)">
                No information available
            </div>
        </div>
    </div>

    <div class="row pb-2" *ngFor="let attribute of attributes">
        <div class="col-5">
            <div class="text-muted float-end">{{attribute.label}}</div>
        </div>
        <div class="col d-flex">
            <div *ngIf="attribute.value">{{ attribute.value }}</div>
            <div *ngIf="!attribute.value" class="text-muted fst-italic">No value</div>

            <i class="bi bi-trash ms-2 cursor-pointer" *ngIf="user && user.isAdmin"
               (click)="deleteAttribute(attribute)"></i>
        </div>
    </div>
</div>
