<div class="container-fluid pt-3">
    <div class="row mb-3">
        <div class="col">
            <button class="btn btn-sm btn-secondary float-end" (click)="showAttributeAddModal()">
                <span *ngIf="!attributes || !attributes.length">Add</span> <span
                *ngIf="attributes && attributes.length">Edit</span> Attributes
            </button>
            <br>

            <div class="text-muted fst-italic mt-2" *ngIf="!paging.processing && (!attributes || !attributes.length)">
                No information available
            </div>
        </div>
    </div>

    <div class="row" *ngFor="let attribute of attributes">
        <div class="col-5">
            <div class="text-muted float-end">{{attribute.label}}</div>
        </div>
        <div class="col ">
            <div>{{attribute.value}}</div>
        </div>
    </div>
</div>
