<div class="row mt-4">
    <div class="col">
        <table class="table table-condensed table-bordered table-hover">
            <thead class="font-80 text-uppercase bg-light">
            <tr>
                <th>Name</th>
                <th>UserID</th>
                <th class="w-25">Roles</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.firstName}} {{user.lastName}}</td>
                <td>
                    {{user.userId}}<br>
                    <div class="text-muted small">({{user.email}})</div>
                </td>
                <td>
                    <span class="badge badge-secondary p-2 ml-2" *ngFor="let role of user.roles">{{role.label}} <i
                        class="fa fa-fw fa-times opacity-hover" (click)="showConfirmationModal(user)"></i> </span>

                    <button class="btn btn-sm btn-link" (click)="showAddRoleModal(user)"><i
                        class="fa fa-fw fa-plus"></i>
                        Add Role
                    </button>
                </td>
                <td></td>
            </tr>
            </tbody>
        </table>

        <ngb-pagination [collectionSize]="paging.available" [boundaryLinks]="true" [maxSize]="5"
                        [(page)]="paging.currentPage" [pageSize]="paging.limit"
                        (pageChange)="pageUsers($event)"></ngb-pagination>

    </div>
</div>
