<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Create New Attribute</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body" id="modal-body">
    <div class="container">
        <div class="row">
            <div class="col"></div>
            <div class="col"></div>
        </div>

        <div class="row">
            <div class="col">Select Type</div>
            <div class="col">
                <select class="form-select form-select-sm" id="attribute_type" name="attributeTypeSelection"
                        [(ngModel)]="newAttribute.type" (change)="typeSelectionChange()">
                    <option [ngValue]="undefined" disabled>Select Input Type</option>
                    <option [ngValue]="availableType.value"
                            *ngFor="let availableType of availableTypes">{{ availableType.label }}
                    </option>
                </select>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col"></div>

            <div class="col">
                <div class="d-flex" *ngFor="let option of newAttribute.options; index as i" [ngClass]="{'pt-1': i}">
                    <input class="form-control form-control-sm w-75" placeholder="Enter option value"
                           [(ngModel)]="newAttribute.options[i].value">
                    <i class="bi bi-plus-circle text-primary fs-5 ms-2 cursor-pointer"
                       [ngbTooltip]="'Add Option'" (click)="addAttributeOption(i)"></i>
                    <i class="bi bi-dash-circle text-danger fs-5 ms-2 cursor-pointer" *ngIf="i"
                       [ngbTooltip]="'Remove Option'" (click)="removeAttributeOption(i)"></i>
                </div>
            </div>
        </div>

        <div class="row pt-2">
            <div class="col">Attribute Label</div>
            <div class="col">
                <input type="text" class="form-control form-control-sm" [(ngModel)]="newAttribute.label">
            </div>
        </div>

        <div class="row pt-2">
            <div class="col pull-right">Host Restriction</div>
            <div class="col">
                <div class="small border-bottom">
                    <input type="checkbox" class="form-check-input" id="check-all" name="check-all"
                           (change)="selectAllHosts($event)" [(ngModel)]="this.newAttribute.allOrganisms"> &nbsp;
                    <label class="form-check-label" for="check-all">Apply to all</label>
                </div>

                <div style="width: 100%; height: 120px; overflow-y: scroll" class="border">
                    <div *ngFor="let host of hosts; index as i" class="small">
                        &nbsp;
                        <input type="checkbox" class="form-check-input" [name]="'check-host-'+i"
                               (change)="checkAllSelected()" [id]="'check-host-'+i"
                               [(ngModel)]="host.selected" [disabled]="this.newAttribute.allOrganisms"> &nbsp;
                        <label class="form-check-label" [for]="'check-host-' + i">{{ host.name }}</label>
                    </div>

                </div>

            </div>
        </div>

        <div class="row pt-2">
            <div class="col">Is this attribute required?</div>
            <div class="col">
                <input type="radio" class="form-check-input" id="radio-yes" name="radio-stacked"
                       [value]="newAttribute.required"
                       required>&nbsp;
                <label class="form-check-label" for="radio-yes"> Yes</label>
                &nbsp;
                <input type="radio" class="form-check-input" id="radio-no" name="radio-stacked"
                       [value]="newAttribute.required"
                       required>&nbsp;
                <label class="form-check-label" for="radio-no">No</label>
            </div>
        </div>

    </div>
</div>

<div class="modal-footer" [ngClass]="{'d-flex justify-content-between': serverError}">
    <div class="alert alert-danger font-85 p-2" *ngIf="serverError">
        <i class="fa fa-exclamation-triangle"></i> Server error creating new role
    </div>

    <div class="text-end">
        <button class="btn btn-light" (click)="activeModal.close()">Cancel</button>&nbsp;
        <button class="btn btn-primary" (click)="createOrUpdateAttribute()">
            Create Attribute
        </button>
    </div>
</div>
