<div style="margin-top: 65px">
    <div class="navbar-fixed-bottom" id="footer" style="border-top: 1px solid #BBBAAA; background-color: white">
        <div class="container-fluid" style="margin-top: 3px">
            <div style="height: 60px;" class="row">
                <div class="col-sm-10 opacity-footer ">
                    <img src="assets/footer.png" alt="footer">
                </div>
                <div class="col-2 font-85 text-end">

                    &copy;&nbsp;ABF {{getCurrentYear()}} <br>
                    All rights reserved. <br>
                    <a href="https://support.ese.lbl.gov/" target="_blank">Submit Ticket</a>&nbsp;
                    <span class="badge p-1 bg-primary ng-binding">v3.7.3</span><br>
                </div>
            </div>
        </div>
        N
    </div>
</div>
