<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Confirm Deletion</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="activeModal.dismiss()"></button>
</div>

<div class="modal-body">
    <div class="row">
        <div class="col-sm-2">
            <i class="fa fa-fw fa-exclamation-triangle text-danger" style="font-size: 3em"></i>
        </div>
        <div class="col">
            <span class="font-14" *ngIf="resourceName"> Delete {{resourceName}}<span
                *ngIf="resourceIdentifier"> "{{resourceIdentifier}}"?</span></span>
            <span class="font-14" *ngIf="!resourceName">Confirm delete</span>
            <div class="font-11">
                This action cannot be undone
            </div>
        </div>
    </div>
</div>

<div class="modal-footer">
    <button class="btn btn-light" (click)="activeModal.close(false)">Cancel</button>
    <button class="btn btn-danger" (click)="deleteConfirmed()">Delete</button>
</div>
