<!--{{ host | json}}-->

<div *ngFor="let tier of tiers">

    <div class="d-flex justify-content-between border p-2 bg-secondary text-white">
        <h5 class="cursor-pointer ml-2" (click)="tier.collapsed = !tier.collapsed"><i class="fa fa-fw fa-caret-right"
                                                                                      *ngIf="tier.collapsed"></i> <i
            class="fa fa-fw fa-caret-down" *ngIf="!tier.collapsed"></i>{{tier.label}}</h5>

        <div class="opacity-hover pr-4" (click)="markTierCompleted(tier)" *ngIf="!tier.completed">Complete <i
            class="fa fa-fw font-14 fa-toggle-off mt-1"></i></div>
        <div *ngIf="tier.completed" (click)="markTierCompleted(tier)" class="pr-4">Completed <i
            class="fa fa-fw font-14 fa-toggle-on text-success mt-1"></i></div>
    </div>

    <table class="table table-responsive-sm border-bottom font-90" *ngIf="!tier.collapsed">
        <thead class="font-80 text-uppercase bg-light">
        <tr>
            <th class="w-auto pl-5 text-dark">Criteria</th>
            <th class="w-50">Details</th>
            <th class="w-25">Status</th>
        </tr>
        </thead>

        <tbody *ngIf="!tier.criteria.length">
        <tr>
            <td colspan="3" class="text-muted font-italic">No criteria created for this tier</td>
        </tr>
        </tbody>

        <tbody *ngIf="tier.criteria.length">
        <tr *ngFor="let criteria of tier.criteria">
            <td class="pl-5">{{criteria.label}}</td>
            <td class="text-muted font-90">{{criteria.description}}</td>
            <td>

                <div ngbDropdown class="float-right">
                    <i class="fa fa-fw" ngbDropdownToggle></i>
                    <div class="dropdown-menu font-80" ngbDropdownMenu style="width: 80px">
                        <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, -1)">N/A</a>
                        <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 25)">25%</a>
                        <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 50)">50%</a>
                        <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 75)">75%</a>
                        <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 100)">100%</a>
                    </div>
                </div>

                <ngb-progressbar *ngIf="criteria.status === -1" [value]="100" type="secondary" [striped]="true"
                                 [showValue]="false">Not Applicable
                </ngb-progressbar>
                <ngb-progressbar *ngIf="!criteria.status" type="secondary" [value]="0" [striped]="false"
                                 [showValue]="true"></ngb-progressbar>
                <ngb-progressbar *ngIf="criteria.status === 25" type="secondary" [value]="criteria.status"
                                 [showValue]="true"></ngb-progressbar>
                <ngb-progressbar *ngIf="criteria.status === 50" type="info" [value]="criteria.status"
                                 [showValue]="true"></ngb-progressbar>
                <ngb-progressbar *ngIf="criteria.status === 75" type="primary" [value]="criteria.status"
                                 [showValue]="true"></ngb-progressbar>
                <ngb-progressbar *ngIf="criteria.status === 100" type="success" [value]="criteria.status"
                                 [showValue]="true"></ngb-progressbar>

            </td>
        </tr>
        </tbody>
    </table>
</div>

