<div *ngFor="let tier of tiers" class="pt-3 bg-light">

    <div class="card ms-3 me-3" [ngClass]="{'shadow-sm': tier.collapsed}">

        <div class="card-body">
            <div class="d-flex justify-content-between" [ngClass]="{'border-bottom': tier.collapsed}">
                <h5 class="cursor-pointer pb-2 fw-bold" (click)="tier.collapsed = !tier.collapsed"><i
                    class="fa fa-fw fa-caret-right" *ngIf="tier.collapsed"></i> <i
                    class="fa fa-fw fa-caret-down" *ngIf="!tier.collapsed"></i>{{tier.label}}</h5>

                <div *ngIf="!tier.completed">
                    <div *ngIf="canEditTiers" (click)="markTierCompleted(tier)" class="opacity-4 opacity-hover">Complete
                        <i class="fa fa-fw font-14 mt-1 fa-toggle-off"></i>
                    </div>

                    <div *ngIf="!canEditTiers" class="text-muted fst-italic fw-bold">
                        In progress
                    </div>
                </div>


                <div *ngIf="tier.completed">
                    <div *ngIf="canEditTiers">Tier Completed
                        <i class="fa fa-fw font-14 fa-toggle-on green" (click)="revertTierComplete(tier)"></i>
                    </div>

                    <div *ngIf="!canEditTiers">
                        <span class="text-success fst-italic fw-bold">
                           <i class="fa fa-check"></i> Completed
                        </span>
                    </div>
                </div>

            </div>


            <div class="card-text">
                <table class="table table-responsive-sm border-bottom font-90" *ngIf="!tier.collapsed">
                    <thead class="font-85 text-uppercase">
                    <tr>
                        <th class="w-auto ps-5 text-dark">Criteria</th>
                        <th class="w-50">Details</th>
                        <th class="w-25">Status</th>
                    </tr>
                    </thead>

                    <tbody *ngIf="!tier.criteria.length">
                    <tr>
                        <td colspan="3" class="text-muted fst-italic">No criteria created for this tier</td>
                    </tr>
                    </tbody>

                    <tbody *ngIf="tier.criteria.length">
                    <tr *ngFor="let criteria of sortBy(tier.criteria, 'id')">
                        <td class="ps-5">{{criteria.label}}</td>
                        <td class="text-muted font-95">{{criteria.description}}</td>
                        <td class="p-2">

                            <div ngbDropdown class="float-end" *ngIf="canEditTiers">
                                <i class="fa fa-fw" ngbDropdownToggle></i>
                                <div class="dropdown-menu font-80" ngbDropdownMenu style="width: 80px">
                                    <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, -1)">N/A</a>
                                    <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 25)">25%</a>
                                    <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 50)">50%</a>
                                    <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 75)">75%</a>
                                    <a ngbDropdownItem (click)="setTierCriteriaStatus(tier, criteria, 100)">100%</a>
                                </div>
                            </div>

                            <ngb-progressbar *ngIf="criteria.status === -1" [value]="100" type="secondary"
                                             [striped]="true" [height]="'20px'"
                                             [showValue]="false">Not Applicable
                            </ngb-progressbar>
                            <ngb-progressbar *ngIf="!criteria.status" type="secondary" [value]="0" [height]="'20px'">
                            </ngb-progressbar>
                            <ngb-progressbar *ngIf="criteria.status === 25" type="secondary" [value]="criteria.status"
                                             [height]="'20px'" [showValue]="true"></ngb-progressbar>
                            <ngb-progressbar *ngIf="criteria.status === 50" type="info" [value]="criteria.status"
                                             [height]="'20px'" [showValue]="true"></ngb-progressbar>
                            <ngb-progressbar *ngIf="criteria.status === 75" type="primary" [value]="criteria.status"
                                             [height]="'20px'" [showValue]="true"></ngb-progressbar>
                            <ngb-progressbar *ngIf="criteria.status === 100" type="success" [value]="criteria.status"
                                             [height]="'20px'" [showValue]="true"></ngb-progressbar>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

