<header class="sticky-top shadow-sm bg-white">
    <div class="container-fluid">
        <nav class="navbar">
            <div class="col d-inline-block align-middle">
                <!--                                <img src="assets/hobt1.png" style="height: 70px">-->
                <strong class="font-weight-bold cursor-pointer" (click)="goHome()" style="font-size: 35px">HObT</strong>
            </div>

            <div class="col">
                <input id="Search" class="form-control py-2" type="search" placeholder="Search">
            </div>

            <div class="col">
                <div *ngIf="loggedInUser" class="float-right font-90 text-black-50 p-3">
                    <i class="fa fa-fw fa-user-circle-o"></i> {{loggedInUser.firstName}} {{loggedInUser.lastName}}

                    |

                    <button class="btn btn-link text-black-50" (click)="logoutUser()">Logout</button>

                </div>

                <div class="float-right" style="font-size: 12px" *ngIf="!loggedInUser">
                    <button class="btn btn-link text-black-50" (click)="loginUser()">
                        <i class="fa fa-fw fa-user-circle-o"></i> Login
                    </button>

                    |

                    <button class="btn btn-link font-12 text-black-50">Register
                    </button>
                </div>
            </div>

        </nav>

    </div>
</header>
