<header class="sticky-top shadow-sm bg-white" role="banner">
    <div class="container-fluid">
        <nav class="navbar" aria-label="Main navigation">
            <div class="col d-inline-block align-middle">
                <strong class="fw-bold cursor-pointer" (click)="goHome()" style="font-size: 35px" tabindex="0"
                        role="button" aria-label="Go to homepage">HObT</strong>
            </div>

            <div class="col">
                <label for="Search" class="visually-hidden">Search the site</label>
                <input id="Search" class="form-control py-2" type="search" placeholder="Search"
                       aria-label="Search the site">
            </div>

            <div class="col">
                <div *ngIf="loggedInUser" class="float-end text-black-50 p-3" aria-label="User account navigation">
                    <span aria-label="Logged in as {{loggedInUser.firstName}} {{loggedInUser.lastName}}">
                        <i class="fa fa-fw fa-user-circle-o"
                           aria-hidden="true"></i> {{ loggedInUser.firstName }} {{ loggedInUser.lastName }}
                    </span>

                    <span aria-hidden="true">&nbsp;|&nbsp;</span>

                    <span *ngIf="loggedInUser.isAdmin">
                        <span class="cursor-pointer" (click)="goToAdminSettings()" tabindex="0" role="button"
                              aria-label="Admin settings">
                            <i class="bi bi-sliders" aria-hidden="true"></i><span
                            class="visually-hidden">Admin Settings</span>
                        </span>
                        <span aria-hidden="true">&nbsp;|&nbsp;</span>
                    </span>

                    <span class="cursor-pointer" (click)="logoutUser()" tabindex="0" role="button" aria-label="Log out">
                        <i class="fa fa-fw fa-sign-out" aria-hidden="true"></i> Logout
                    </span>
                </div>

                <div *ngIf="!loggedInUser" class="float-end text-black-50" aria-label="Authentication options">
                    <button class="btn btn-link" (click)="loginUser()" aria-label="Log in to your account">
                        <i class="fa fa-fw fa-sign-in" aria-hidden="true"></i> Login
                    </button>
                    <button class="btn btn-primary ms-2" (click)="registerUser()"
                            aria-label="Register for a new account">Register
                    </button>
                </div>
            </div>
        </nav>
    </div>
</header>
