<header class="sticky-top shadow-sm bg-white">
    <div class="container-fluid">
        <nav class="navbar">
            <div class="col d-inline-block align-middle">
                <!--                                <img src="assets/hobt1.png" style="height: 70px">-->
                <strong class="fw-bold cursor-pointer" (click)="goHome()" style="font-size: 35px">HObT</strong>
            </div>

            <div class="col">
                <input id="Search" class="form-control py-2" type="search" placeholder="Search">
            </div>

            <div class="col">
                <div *ngIf="loggedInUser" class="float-end text-black-50 p-3">
                    <i class="fa fa-fw fa-user-circle-o"></i> {{loggedInUser.firstName}} {{loggedInUser.lastName}}

                    &nbsp;|&nbsp;

                    <i class="fa fa-fw fa-sign-out"></i> <span class="cursor-pointer"
                                                               (click)="logoutUser()">Logout</span>

                </div>

                <div *ngIf="!loggedInUser" class="float-end text-black-50">
                    <button class="btn btn-link" (click)="loginUser()">
                        <i class="fa fa-fw fa-sign-in"></i> Login
                    </button>
                    <!--                    <i class="fa fa-fw fa-sign-in"></i>-->
                    <!--                    <span class="cursor-pointer" (click)="loginUser()">Login</span>-->
                    <!---->
                    <!--                    &nbsp;|&nbsp;-->
                    <button class="btn btn-primary ms-2" (click)="registerUser()" disabled>Register</button>

                    <!--                    <span class="cursor-pointer">Register</span>-->
                </div>
            </div>

        </nav>

    </div>
</header>
