<div id="login" class="container-fluid" style="margin: 120px auto; width: 280px">

    <form id="loginForm">
        <div class="alert alert-danger" role="alert" *ngIf="validation.invalidPassword">
            <i class="fa fa-fw fa-exclamation-circle"></i> Invalid Login Credentials!
        </div>

        <div id="fields" class="form-group">
            <div class="d-flex justify-content-between">
                <span class="form-label">User ID</span><br>
                <a routerLink="/register" class="pr-0 font-80" *ngIf="canRegister">Register</a>
            </div>
            <input type="text" placeholder="User ID" class="form-control" [(ngModel)]="loggedInUser.userId"
                   name="userId" [ngClass]="{'is-invalid': !validation.validId}" required>

            <br>
            <div class="d-flex justify-content-between">
                <span class="form-label">Password</span>
                <a routerLink="/forgotPassword" class="font-80 pr-0">Forgot?</a>
            </div>

            <input type="password" placeholder="Password" class="form-control" [(ngModel)]="loggedInUser.password"
                   name="password" [ngClass]="{'is-invalid': !validation.validPassword}" required>
            <div class="mt-2">
                <span class="text-secondary cursor-pointer" (click)="setRemember()">
                    <i class="fa fa-fw font-11 align-middle"
                       [ngClass]="{'fa-square-o': !remember, 'fa-check-square-o': remember}"></i>
                    <span class="font-90">Remember Me</span>
                </span>
            </div>

            <br>

            <button type="submit" style="width: 250px" [disabled]="processing"
                    class="btn btn-primary pull-right mt-3" id="submit" (click)="loginUser()">
                <i *ngIf="processing" class="fa fa-spinner fa-pulse fa-fw"></i>
                Login to HObT
            </button>
        </div>
    </form>
</div>
