<app-header></app-header>

<div class="container-fluid pt-2 pb-4" style="background-color: #F4F4F4">

    <div class="pull-right">
        <div>
            <small ngbDropdown>
                <span class="text-muted">Sort by:</span>&nbsp;
                <span ngbDropdownToggle class="cursor-pointer">
                    <i class="fa" [ngClass]="{'fa-long-arrow-up': params.asc, 'fa-long-arrow-down': !params.asc}"></i>
                    <span *ngIf="params.sort == 'id'"> Last Updated</span>
                    <span *ngIf="params.sort == 'taxonomy'"> Phylum</span>
                    <span *ngIf="params.sort == 'name'"> Name</span>
                    <span *ngIf="params.sort == 'tier'"> Tier</span>

                     <ul ngbDropdownMenu class="dropdown-menu p-1">
                         <li ngbDropdownItem class="small pl-2" (click)="sort('name')">Name</li>
                         <li ngbDropdownItem class="small pl-2" (click)="sort('taxonomy')">Phylum</li>
                         <li ngbDropdownItem class="small pl-2" (click)="sort('id')">Last Update</li>
                         <li ngbDropdownItem class="small pl-2" (click)="sort('tier')">Tier</li>
                     </ul>
                </span>
            </small>
        </div>

        <button class="btn" [ngClass]="{'border bg-white pt-1 pb-1 pr-2 pl-2': gridMode}" (click)="gridMode = true"><i
            class="fa fa-th"></i>
        </button>
        <button class="btn" [ngClass]="{'border bg-white pt-1 pb-1 pr-2 pl-2': !gridMode}" (click)="gridMode = false"><i
            class="fa fa-bars"></i>
        </button>
    </div>

    <br>

    <table class="table  table-bordered  table-hover table-responsive-lg bg-white" *ngIf="!gridMode">
        <thead>
        <tr class="text-uppercase" style="font-size: 12px">
            <th>Host</th>
            <th>Taxonomy</th>
            <th>Tier</th>
            <th>Updated</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let host of hosts">
            <td class="text-primary">{{ host.name }}</td>
            <td>{{ host.taxonomy }}</td>
            <td><span style="font-size: 14px" class="p-2 pr-3 pl-3 badge" [ngClass]="{'badge-secondary': host.tier === 1,
                    'badge-primary': host.tier === 2, 'badge-info': host.tier === 3, 'badge-success': host.tier === 4}">Tier {{ host.tier }}</span>
            </td>
            <td><span *ngIf="host.updated">{{ host.updated | date }}</span></td>
        </tr>
        </tbody>
    </table>

    <div class="row mt-3" *ngIf="gridMode">
        <div class="card ml-4 mb-4  border-0 shadow-sm" style="width: 28rem;" *ngFor="let host of hosts">
            <div class="card-body pb-1">
                <h5 class="card-title">
                    <span class="cursor-pointer" (click)="goToHost(host)">{{ host.name }}</span>
                    <span style="font-size: 14px" class="p-2 float-right badge" [ngClass]="{'badge-secondary': host.tier === 1,
                    'badge-primary': host.tier === 2, 'badge-info': host.tier === 3, 'badge-success': host.tier === 4}">Tier {{ host.tier }}</span>
                </h5>
                <h6 class="card-subtitle mb-2 text-muted font-italic">{{ host.taxonomy }}</h6>
                <p class="card-text pt-3 border-top">
                    <b class="text-primary">{{ host.publications }}</b> publications<br>
                    <b class="text-primary">{{ host.parts }}</b> associated parts<br>
                    <b class="text-primary">{{ host.experiments }}</b> experiments<br>
                    <b class="text-primary">{{ host.protocols }}</b> protocols<br>
                </p>

                <p *ngIf="host.updated" class="small float-left text-muted">Last update: {{ host.updated | date }}</p>
                <a routerLink="/host/{{ host.id }}" class="card-link float-right small">details &raquo;</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>
