<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Create Publication</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">&times;</button>
</div>

<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="link" class="font-weight-bold font-80 text-uppercase">Link</label>
        <input type="email" class="form-control" id="link" ngbAutofocus [(ngModel)]="publication.link">
    </div>
    <div class="form-group">
        <label for="display" class="font-weight-bold font-80 text-uppercase">Display Text</label>
        <textarea class="form-control" id="display" rows="3" [(ngModel)]="publication.label"></textarea>
    </div>
</div>

<div class="modal-footer justify-content-between">
    <div>

        <!--        <span class="red" *ngIf="errorSaving">-->
        <!--            <i class="fa fa-exclamation-triangle"></i> Error saving part</span>-->
    </div>

    <div class="pull-right">
        <button class="btn btn-link" (click)="activeModal.close()">Cancel</button>
        <button class="btn btn-primary" (click)="createPublication()">
            <span *ngIf="isUpdate">Update</span>
            <span *ngIf="!isUpdate">Save</span>
        </button>
    </div>
</div>
