<div class="modal-header">
    <h5 class="modal-title" id="modal-title">Add Publication</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">&times;</button>
</div>

<div class="modal-body" id="modal-body">
    <div class="form-group">
        <label for="link" class="font-80">Author List</label>
        <input type="text" class="form-control" id="link" ngbAutofocus [(ngModel)]="publication.authors">
    </div>
    <div class="form-group">
        <label for="year" class="font-80">Publication Year</label>
        <input type="text" class="form-control" id="year" [(ngModel)]="publication.year">
    </div>
    <div class="form-group">
        <label for="title" class="font-80">Title</label>
        <input type="text" class="form-control" id="title" [(ngModel)]="publication.title">
    </div>
    <div>
        <span class="cursor-pointer" (click)="publication.isABF = !publication.isABF">
            <i class="fa fa-fw"
               [ngClass]="{'fa-square-o': !publication.isABF, 'fa-check-square-o': publication.isABF}"></i>
            This is an Agile BioFoundry publication
        </span>
    </div>
</div>

<div class="modal-footer justify-content-between">
    <div>

        <!--        <span class="red" *ngIf="errorSaving">-->
        <!--            <i class="fa fa-exclamation-triangle"></i> Error saving part</span>-->
    </div>

    <div class="pull-right">
        <button class="btn btn-link" (click)="activeModal.close('cancel')">Cancel</button>
        <button class="btn btn-primary" (click)="createPublication()">
            <span *ngIf="isUpdate">Update</span>
            <span *ngIf="!isUpdate">Save</span>
        </button>
    </div>
</div>
