.sub-menu {
    cursor: pointer;
    padding: 8px;
}

.sub-menu:hover {
    border-bottom: 4px solid #f1f1f1;
}

.sub-menu-selected {
    border-bottom: 4px solid white;
    padding: 8px;
}

.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-bottom: 5px solid #002d72;
    /*border-color: #dee2e6 #dee2e6 #fff;*/
}

.nav-tabs .nav-link {
    border: 1px solid transparent;
    font-size: 0.90rem;
}

.nav {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

.nav-tabs .nav-link:hover {
    border-bottom: 5px solid slategray;
}

