<app-header></app-header>

<div class="pt-5 pl-5 pb-5 border-bottom" style="background-color: #F6F6F7">
    <div class="d-flex justify-content-between">
        <div>
            <h3 class="font-italic">{{host.name}}</h3>
            <div class="lead font-italic mt-n2" style="color: #777575">{{host.phylum}}</div>
        </div>

        <!--        <div class="float-right btn-toolbar mr-3">-->
        <!--            <div class="card border-0 shadow-sm ml-5" style="width: 24rem">-->
        <!--                <div class="card-body">-->
        <!--                    <strong>Lawrence Berkeley National Lab</strong><br>-->
        <!--                    Sandia National Lab-->
        <!--                </div>-->
        <!--            </div>-->
        <!--        </div>-->
    </div>
</div>

<div style="width: 100%; padding-bottom: 72px">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs m-0" (navChange)="activeChanged($event)">

        <li [ngbNavItem]="'attributes'">
            <a ngbNavLink class="mr-5 ml-5">Attributes</a>
            <ng-template ngbNavContent>
                <div class="container-fluid pt-3">
                    <button class="btn btn-sm btn-secondary float-right" (click)="showAttributeAddModal()">
                        Add Attribute
                    </button>
                    <i class="text-muted">No information available</i>
                </div>
            </ng-template>
        </li>


        <li [ngbNavItem]="'publications'">
            <a ngbNavLink class="mr-5 ml-5">Publications</a>
            <ng-template ngbNavContent>
                <app-publications [host]="host"></app-publications>
            </ng-template>
        </li>


        <li [ngbNavItem]="'parts'">
            <a ngbNavLink class="mr-5 ml-5">Parts
                <!--                <div class="badge badge-light badge-pill p-1 font-90 text-muted">8</div>-->
            </a>
            <ng-template ngbNavContent>
                <app-host-parts [host]="host" [strains]="false"></app-host-parts>
            </ng-template>
        </li>


        <li [ngbNavItem]="'strains'">
            <a ngbNavLink class="mr-5 ml-5">Strains
                <!--                <div class="badge badge-light badge-pill p-1 font-90 text-muted">8</div>-->
            </a>
            <ng-template ngbNavContent>
                <app-host-parts [host]="host" [strains]="true"></app-host-parts>
            </ng-template>
        </li>


        <li [ngbNavItem]="'protocols'">
            <a ngbNavLink class="mr-5 ml-5">Protocols</a>
            <ng-template ngbNavContent>
                <div class="container-fluid font-90 pt-3">
                    <i class="text-muted">No information available</i>
                </div>
            </ng-template>
        </li>


        <li [ngbNavItem]="'experiments'">
            <a ngbNavLink class="mr-5 ml-5">Experiments
                <div class="badge badge-light badge-pill p-1 font-90 text-muted"
                     *ngIf="host.statistics">{{host.statistics.experimentCount}}</div>
            </a>
            <ng-template ngbNavContent>
                <div class="container-fluid font-90 pt-3">
                    <i class="text-muted">No information available</i>
                </div>
            </ng-template>
        </li>


        <li [ngbNavItem]="'tiers'">
            <a ngbNavLink class="mr-5 ml-5">Tier Progress</a>
            <ng-template ngbNavContent>
                <app-host-tiers [host]="host"></app-host-tiers>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>
</div>

<app-footer></app-footer>

<!--<div class="d-flex justify-content-around text-white pt-1 text-uppercase font-80 border-bottom"-->
<!--     style="background-color: #0074B3">-->
<!--    <div class="sub-menu-selected">Attributes</div>-->
<!--    <div class="sub-menu"><i class="fa fa-newspaper-o font-12"></i> &nbsp;-->
<!--        Publications-->
<!--    </div>-->
<!--    <div class="sub-menu">Parts</div>-->
<!--    <div class="sub-menu">Protocols</div>-->
<!--    <div class="sub-menu">Experiments</div>-->
<!--    <div class="sub-menu">Tier Progress</div>-->
<!--</div>-->






