<div>

    <div class="pt-3 pb-3 border-bottom">
        <button class="btn btn-secondary" (click)="showCreateTierClick()">
            <i class="fa fa-fw fa-plus"></i> Create New Tier
        </button>
    </div>

    <div class="d-flex justify-content-between bg-light p-4" *ngIf="showCreateTier">

        <div class="w-50">
            <form>
                <div class="form-group">
                    <label for="createTierLabel" class="font-90">Label</label>
                    <input type="text" name="tierLabel" class="form-control" id="createTierLabel"
                           [ngClass]="{'is-invalid': newTierLabelInvalid}"
                           (ngModelChange)="newTierLabelInvalid = false"
                           placeholder="Enter Tier Label" [(ngModel)]="newTier.label" required>
                    <div class="invalid-feedback">
                        Please enter a unique tier label
                    </div>
                </div>

                <div class="form-row border-bottom" *ngIf="tiers.length">
                    <div class="form-group col-sm-1">
                        <span> Add </span>
                    </div>

                    <div class="form-group col-sm-4">
                        <div class="form-check">
                            <input class="form-check-input cursor-pointer" type="radio" name="tierLocation"
                                   id="beforeRadio" [(ngModel)]="newTierIndex" [value]="0"
                                   (change)="tierIndexChange()">
                            <label class="form-check-label cursor-pointer" for="beforeRadio">
                                Before
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input cursor-pointer" type="radio" name="tierLocation"
                                   id="afterRadio" [(ngModel)]="newTierIndex" [value]="1" (change)="tierIndexChange()">
                            <label class="form-check-label cursor-pointer" for="afterRadio">
                                After
                            </label>
                        </div>
                    </div>

                    <select class="form-control col-sm-4" id="createTierSelect" [(ngModel)]="selectedTier"
                            name="createTierSelect" (change)="tierIndexChange()">
                        <option [selected]="tier.index === tiers.length - 1" *ngFor="let tier of tiers"
                                [ngValue]="tier">{{tier.label}}</option>
                    </select>
                </div>

                <div class="mt-3">
                    <button class="btn btn-primary" (click)="addNewTier()" [disabled]="!newTier.label">
                        Create Tier
                    </button>
                    <button class="btn btn-link" (click)="showCreateTier = false">Cancel</button>
                </div>
            </form>
        </div>

        <div class="w-50">
            <div class="alert alert-info w-75 float-end" role="alert">
                Create a new tier by entering a unique label. Once the tier is successfully created,
                you will have the opportunity to add criteria.
            </div>
        </div>

    </div>

    <div *ngIf="!tiers || !tiers.length" class="m-4">
        <span class="text-muted fst-italic">No tiers available</span>
    </div>

    <table class="table table-bordered mt-3" *ngIf="tiers && tiers.length">
        <tr *ngFor="let tier of tiers">
            <td class="font-12 align-text-top">
                <i class="fa fa-fw fa-reorder"></i> {{tier.label}}
            </td>

            <td class="w-50 p-0">

                <div class="ps-3 pt-3" *ngIf="!tier.showAddCriteria">
                    <button class="btn btn-outline-primary btn-sm" (click)="tier.showAddCriteria = true">
                        Add Criteria
                    </button>
                </div>

                <div class="text-muted fst-italic p-3"
                     *ngIf="!tier.showAddCriteria && (!tier.criteria || !tier.criteria.length)">
                    No criteria specified for this tier
                </div>

                <div *ngIf="tier.showAddCriteria" class="p-4 bg-light-blue">
                    <form name="createCriteriaForm">
                        <div class="form-row">
                            <div class="form-group col-md-8">
                                <label for="tierCriteriaLabel">Label</label>
                                <input type="text" class="form-control form-control-sm"
                                       [ngClass]="{'is-invalid': newCriteria.labelInvalid}"
                                       placeholder="Enter unique label for criteria"
                                       (ngModelChange)="newCriteria.labelInvalid = false"
                                       name="tierCriteriaLabel" id="tierCriteriaLabel"
                                       [(ngModel)]="newCriteria.label">
                                <div class="invalid-feedback">
                                    Please enter a unique (to this tier) criteria label
                                </div>
                            </div>

                            <div class="form-group col-md-8">
                                <label for="tierCriteriaDescription">Description</label>
                                <textarea class="form-control form-control-sm"
                                          [ngClass]="{'is-invalid': newCriteria.detailsInvalid}"
                                          name="tierCriteriaDescription" rows="3"
                                          (ngModelChange)="newCriteria.detailsInvalid = false"
                                          placeholder="Enter description for criteria" id="tierCriteriaDescription"
                                          [(ngModel)]="newCriteria.description"></textarea>
                                <div class="invalid-feedback">
                                    Please enter a description for this criteria
                                </div>
                            </div>
                        </div>

                        <div class="mt-2">
                            <button class="btn btn-sm btn-link" (click)="cancelNewCriteria(tier)">Cancel</button>
                            &nbsp;
                            <button class="btn btn-sm btn-primary" (click)="addNewCriteria(tier)"
                                    [disabled]="!newCriteria.label || !newCriteria.description">
                                Create Criteria
                            </button>
                        </div>

                    </form>
                </div>

                <!-- list of available criteria for tier -->
                <ul class="list-group list-group-flush font-90 p-3">
                    <li class="list-group-item" *ngFor="let criteria of tier.criteria; let index = index">

                        <div [ngClass]="{'d-none': editIndex === index}">
                            <div class="float-end">
                                <i class="fa fa-fw fa-pencil text-muted opacity-hover" ngbTooltip="Edit"
                                   (click)="updateCriteria(index, criteria)"></i> <i
                                class="fa fa-fw fa-trash-o text-muted opacity-hover" ngbTooltip="Delete"
                                (click)="deleteCriteria(tier, criteria)"></i></div>
                            <div class="fw-bold">{{criteria.label}}</div>
                            <p class="text-muted">{{criteria.description || 'No description provided'}}</p>
                        </div>

                        <form name="editCriteriaForm" *ngIf="editIndex === index">
                            <div class="form-row">
                                <div class="form-group col-md-8">
                                    <label for="tierCriteriaLabel">Label</label>
                                    <input type="text" class="form-control form-control-sm"
                                           [ngClass]="{'is-invalid': editCriteria.labelInvalid}"
                                           placeholder="Enter unique label for criteria9"
                                           (ngModelChange)="editCriteria.labelInvalid = false"
                                           name="tierCriteriaLabel"
                                           [(ngModel)]="editCriteria.label">
                                    <div class="invalid-feedback">
                                        Please enter a unique (to this tier) criteria label
                                    </div>
                                </div>

                                <div class="form-group col-md-8">
                                    <label for="tierCriteriaDescription">Description</label>
                                    <textarea class="form-control form-control-sm"
                                              [ngClass]="{'is-invalid': editCriteria.detailsInvalid}"
                                              name="tierCriteriaDescription" rows="3"
                                              (ngModelChange)="editCriteria.detailsInvalid = false"
                                              placeholder="Enter description for criteria"
                                              [(ngModel)]="editCriteria.description"></textarea>
                                    <div class="invalid-feedback">
                                        Please enter a description for this criteria
                                    </div>
                                </div>
                            </div>

                            <div class="mt-2">
                                <button class="btn btn-sm btn-link" (click)="cancelUpdateCriteria()">Cancel</button>
                                &nbsp;
                                <button class="btn btn-sm btn-primary"
                                        (click)="submitCriteriaUpdate(tier, criteria)"
                                        [disabled]="!editCriteria.label || !editCriteria.description">
                                    Update
                                </button>
                            </div>

                        </form>
                    </li>
                </ul>

            </td>

            <td class="w-25 p-0 align-text-top">
                <div class="p-4 bg-light-blue" *ngIf="tier.showAddRules">
                    <form name="createSpecificationForm">
                        <div class="form-row">
                            <div class="form-group col-md-12">
                                <select class="form-control col-sm-7 font-90" id="specificationType"
                                        name="specificationType" [(ngModel)]="newRule.type">
                                    <option [ngValue]=undefined>Select Rule</option>
                                    <option [ngValue]="'SIMPLE'">% of Tier Criteria</option>
                                    <option [ngValue]="'SUM'">Sum of Tier Criteria %</option>
                                </select>
                            </div>

                            <div class="form-group col-md-12 font-90">
                                <div *ngIf="newRule.type === 'SIMPLE'">
                                    <input type="text" inputmode="numeric" maxlength="3" pattern="[0-9]*"
                                           [(ngModel)]="newRule.percentage" name="simplePercentage"
                                           style="width: 55px; padding-right: 20px; text-align: right">
                                    <span style="margin-left:-20px">%</span> &nbsp; of tier criteria must be met.
                                </div>

                                <div *ngIf="newRule.type === 'SUM'">
                                    Sum of criteria in current tier and higher tiers must add up to
                                    <input type="text" inputmode="numeric" maxlength="3" pattern="[0-9]*"
                                           [(ngModel)]="newRule.percentage" name="complexPercentage"
                                           style="width: 55px; padding-right: 20px; text-align: right"><span
                                    style="margin-left:-20px">%</span>
                                </div>

                            </div>
                        </div>

                        <div class="mt-2">
                            <button class="btn btn-sm btn-link" (click)="cancelNewRules(tier)">Cancel</button>
                            <button class="btn btn-sm btn-primary" (click)="addNewRules(tier)"
                                    [disabled]="!newRule.type || !newRule.percentage">
                                Create Rule
                            </button>
                        </div>

                    </form>
                </div>

                <div class="ps-3 pt-3" *ngIf="!tier.showAddRules">
                    <button class="btn btn-sm btn-outline-primary" (click)="tier.showAddRules = true">Add Rules</button>
                </div>

                <div class="p-3">

                    <div class="fw-bold">Tier completion rules</div>
                    <p class="text-muted fst-italic" *ngIf="!tier.rules || !tier.rules.length">No rules specified for
                        this tier</p>

                    <ul *ngIf="tier.rules && tier.rules.length">
                        <li *ngFor="let rule of tier.rules">
                            <span *ngIf="rule.type==='SIMPLE'">{{rule.percentage}}% of criteria must be met</span>
                            <span *ngIf="rule.type==='SUM'">Sum of criteria in current tier and higher tier must add up to {{rule.percentage}}</span>
                            <span class="pull-right"><i class="fa fa-fw fa-trash-o opacity-hover small"></i> </span>
                        </li>
                    </ul>
                </div>
            </td>
        </tr>
    </table>
</div>
