<div>
    <div class="pt-3 pb-3 border-bottom">
        <button class="btn btn-secondary" (click)="showCreateRoleModal()">
            <i class="fa fa-fw fa-plus"></i> Create New Role
        </button>
    </div>

    <div *ngIf="!roles || !roles.length" class="p-3 text-muted fst-italic">
        No roles available
    </div>

    <table class="table border-bottom table-bordered table-responsive-md" *ngIf="roles && roles.length">
        <thead class="font-80 text-uppercase">
        <tr>
            <th>Role</th>
            <th>Permissions</th>
            <th>Members</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let role of roles">
            <td style="width: 30% !important;">
                {{role.label}}<br>
                <span class="text-muted font-90">{{role.description}}</span>
            </td>

            <td class="w-25">
                <div *ngIf="!role.showAddPermissions">
                    <button class="btn btn-link font-90 float-end" (click)="role.showAddPermissions = true">
                        +add
                    </button>
                    <br>
                </div>

                <div class="shadow-sm p-3 bg-light border pb-5" *ngIf="role.showAddPermissions">
                    <div class="pb-3">
                        <select class="form-control" id="tier" name="hostTierSelect"
                                [(ngModel)]="newPermission.resource">
                            <option [ngValue]="undefined">Select</option>
                            <option [ngValue]="perm" *ngFor="let perm of availableResources">{{perm}}</option>
                        </select>
                    </div>

                    <div class="form-check form-check-inline ps-4">
                        <input class="form-check-input" type="checkbox" id="isRead" [value]="false"
                               [(ngModel)]="newPermission.isRead">
                        <label class="form-check-label font-90" for="isRead">Read</label>
                    </div>

                    <div class="form-check form-check-inline ps-4">
                        <input class="form-check-input" type="checkbox" id="isWrite" [value]="true"
                               [(ngModel)]="newPermission.isWrite">
                        <label class="form-check-label font-90" for="isWrite">Write</label>
                    </div>

                    <hr>

                    <div class="float-end">
                        <button class="btn btn-link btn-sm" (click)="role.showAddPermissions = false">Cancel</button>
                        <button class="btn btn-primary btn-sm" [disabled]="!newPermission.resource && (!newPermission.isRead
                        || !newPermission.isWrite)" (click)="savePermission(role)">Save
                        </button>
                    </div>
                </div>

                <hr>

                <div *ngIf="!role.permissions || !role.permissions.length">
                    <span class="text-muted fst-italic font-90">No permissions added to this role</span>
                </div>

                <ul class="list-group list-group-flush" *ngIf="role.permissions && role.permissions.length">
                    <li class="list-group-item" style="line-height: 1.0" *ngFor="let permission of role.permissions">
                        {{permission.resource}}<br><small class="text-muted" *ngIf="permission.isWrite">Write</small>
                        <small class="text-muted" *ngIf="!permission.isWrite">Read</small>
                    </li>
                </ul>
            </td>
            <td class="w-25">
                <div *ngIf="!role.showAddMembers">
                    <button class="btn btn-link font-90 pull-right" (click)="role.showAddMembers = true">+add</button>
                    <br>
                </div>

                <div class="shadow-sm p-3 bg-light border mb-2" *ngIf="role.showAddMembers">

                    <span class="text-muted font-70 text-uppercase fw-bold">Username or email</span>

                    <ng-template #rt let-r="result" let-t="term">
                        <ngb-highlight [result]="r.firstName + ' ' + r.lastName" [term]="t"></ngb-highlight>
                        <br>
                        <ngb-highlight [result]="r.email" [term]="t" class="small"
                                       style="position: relative; top: -8px"></ngb-highlight>
                    </ng-template>

                    <input class="form-control form-control-sm" [resultTemplate]="rt" [inputFormatter]="formatter"
                           [resultFormatter]="formatter" [editable]='false'
                           (selectItem)="selectRoleMember($event, role)" [ngbTypeahead]="searchUsers"
                           placeholder="Start typing user name or email...">

                    <button class="btn btn-sm btn-link pull-right" (click)="role.showAddMembers=false">Done</button>
                    <br>
                </div>

                <hr>

                <div *ngIf="!role.members || !role.members.length">
                    <span class="text-muted fst-italic font-90">No users added to this role</span>
                </div>

                <div class="font-75 fw-bold text-end"
                     *ngIf="role.members && role.members.length">{{role.members.length}} members
                </div>

                <div class="font-90" [ngClass]="{'border-top': role.members && role.members.length}"
                     style="max-height: 250px; overflow: auto">
                    <ul class="list-group list-group-flush" *ngIf="role.members && role.members.length">
                        <li class="list-group-item" style="line-height: 1.0" *ngFor="let user of role.members">
                            {{user.firstName}} {{user.lastName}}
                            <br>
                            <small class="text-muted">{{user.email}}</small>
                        </li>
                    </ul>
                </div>
            </td>
            <td class="w-auto">
                <i class="fa fa-fw fa-trash-o font-14 opacity-hover"></i>
                <i class="fa fa-fw fa-pencil font-14 opacity-hover"></i>
            </td>
        </tr>
        </tbody>
    </table>
</div>
