<app-header></app-header>

<br>

<div class="container-fluid">
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': active === 'tiers'}" aria-current="page" href="admin/tiers">
                Tier Settings
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': active === 'users'}" href="admin/users">Users</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': active === 'roles'}" href="admin/roles">Roles</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': active === 'attributes'}" href="admin/attributes">Custom Attributes</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': active === 'auth'}" href="admin/auth">Authentication</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [ngClass]="{'active': active === 'api'}" href="admin/api">protocols.io</a>
        </li>
    </ul>
</div>

<div class="container-fluid pb-4">

    <div class="row">
        <div class="col-12 bg-white">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
