<div class="card-body p-1">
    <ul class="list-groupModel list-groupModel-flush" *ngIf="tierCriteriaList.length">
        <li class="list-groupModel-item p-0" [ngClass]="{'list-groupModel-item-success': option.available}"
            *ngFor="let option of tierCriteriaList">

            <div class="d-flex justify-content-between pt-2 pb-2 ps-2">
                {{option.label}}

                <div ngbDropdown>
                    <i class="fa fa-fw" ngbDropdownToggle></i>
                    <div class="dropdown-menu font-80" ngbDropdownMenu style="width: 80px">
                        <a ngbDropdownItem (click)="option.status = 25">25%</a>
                        <a ngbDropdownItem (click)="option.status = 50">50%</a>
                        <a ngbDropdownItem (click)="option.status = 75">75%</a>
                        <a ngbDropdownItem (click)="option.status = 100">100%</a>
                    </div>
                </div>
            </div>

            <ngb-progressbar *ngIf="option.status === 25" type="secondary" [value]="option.status"
                             [showValue]="true"></ngb-progressbar>
            <ngb-progressbar *ngIf="option.status === 50" type="info" [value]="option.status"
                             [showValue]="true"></ngb-progressbar>
            <ngb-progressbar *ngIf="option.status === 75" type="primary" [value]="option.status"
                             [showValue]="true"></ngb-progressbar>
            <ngb-progressbar *ngIf="option.status === 100" type="success" [value]="option.status"
                             [showValue]="true"></ngb-progressbar>

            <!--                        <i class="fa fa-fw font-12" (click)="setTierOptionAvailability(option)"-->
            <!--                           [ngClass]="{'fa-check-circle opacity-hover': !option.available, 'fa-check': option.available}"></i>-->
        </li>
    </ul>

    <ul class="list-groupModel list-groupModel-flush" *ngIf="!tierCriteriaList.length">
        <li class="list-groupModel-item">&nbsp;</li>
    </ul>
</div>


