<div class="container-fluid">
    <div class="row">

        <div class="p-4" *ngIf="loadingParts && !results">
            <img src="assets/loader.gif"> &nbsp;<i class="text-muted">Fetching parts...</i>
        </div>

        <div *ngIf="!loadingParts && results && !results.length" class="p-4 font-italic text-black-50">
            No matching parts available
        </div>

        <table class="table table-hover table-bordered border-bottom-0 font-90" *ngIf="results && results.length">
            <thead class="font-weight-bold text-secondary">
            <tr>
                <td style="width: 100px">Type</td>
                <td>Name</td>
                <td style="width: 300px">Owner</td>
                <td style="width: 180px">PartID</td>
                <td style="width: 120px">BioSafety</td>
                <td style="width: 280px">Created</td>
            </tr>
            </thead>

            <tbody>
            <tr *ngFor="let result of results">
                <td style="width: 100px" class="font-weight-bold small text-secondary">{{result.entryInfo.type}}</td>
                <td class="w-25 text-truncate">{{result.entryInfo.name}}<br>
                    <div class="small text-muted">{{result.entryInfo.shortDescription}}</div>
                </td>
                <td style="width: 300px" class="text-truncate">{{result.entryInfo.owner}}</td>
                <td style="width: 180px"><a href="#" target="_blank">{{result.entryInfo.partId}}</a></td>
                <td style="width: 120px">Level {{result.entryInfo.bioSafetyLevel}}</td>
                <td style="width: 280px">{{result.entryInfo.creationTime | date: 'MMM d, y'}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
