<div class="container-fluid">
    <div class="row">
        <div class="col pt-3 pb-3">
            <button class="btn btn-secondary" (click)="showCreateAttributeModal()">
                <i class="fa fa-fw fa-plus"></i> Create New Attribute
            </button>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="small">
                <tr>
                    <th>Type</th>
                    <th>Label</th>
                    <th>Hosts</th>
                    <th>Required</th>
                    <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let attribute of attributes">
                    <td>{{attribute.type}}</td>
                    <td>{{attribute.label}}</td>
                    <td>
                        <div *ngIf="attribute.allOrganisms">All</div>
                        <div *ngIf="!attribute.allOrganisms">
                            Subset
                        </div>
                    </td>
                    <td>{{attribute.required}}</td>
                    <td>
                        <i class="fa fa-fw fa-edit opacity-hover font-12" [ngbTooltip]="'Edit'"
                           (click)="showCreateAttributeModal(attribute)"></i>
                        <i class="fa fa-fw fa-trash opacity-hover font-12" [ngbTooltip]="'Delete'"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ngb-pagination [collectionSize]="paging.available" [boundaryLinks]="true" [maxSize]="5"
                            [(page)]="paging.currentPage" [pageSize]="paging.limit" size="sm"
                            (pageChange)="pageAttributes($event)"></ngb-pagination>
        </div>

        <div class="col"><strong>{{pageCounts()}}</strong></div>
    </div>
</div>

