<div class="container-fluid">
    <div class="row">
        <div class="col pt-3 pb-3">
            <button class="btn btn-secondary" (click)="showCreateAttributeModal()">
                <i class="fa fa-fw fa-plus"></i> Create New Attribute
            </button>
        </div>
    </div>

    <div class="row" *ngIf="attributes && attributes.length">
        <div class="col">
            <table class="table">
                <thead class="small">
                <tr>
                    <th class="small text-uppercase text-muted">Type</th>
                    <th class="small text-uppercase text-muted">Label</th>
                    <th class="small text-uppercase text-muted">Hosts</th>
                    <th class="small text-uppercase text-muted">Required</th>
                    <th class="small text-uppercase text-muted">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let attribute of attributes">
                    <td>{{ attributeTypeLabel(attribute.type) }}
                        <div *ngIf="attribute.options && attribute.options.length">
                            <span *ngFor="let option of attribute.options; first as first" style="font-size: 11px"
                                  class="text-muted">
                                <span *ngIf="!first">,&nbsp;</span>{{ option.value }}</span>
                        </div>
                    </td>
                    <td>{{ attribute.label }}</td>
                    <td>
                        <div *ngIf="attribute.allOrganisms">All</div>
                        <div *ngIf="!attribute.allOrganisms">
                            Subset
                        </div>
                    </td>
                    <td>{{ attribute.required }}</td>
                    <td>
                        <i class="fa fa-fw fa-edit opacity-hover font-12" [ngbTooltip]="'Edit'"
                           (click)="showCreateAttributeModal(attribute)"></i>
                        <i class="fa fa-fw fa-trash opacity-hover font-12" [ngbTooltip]="'Delete'"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <ngb-pagination [collectionSize]="paging.available" [boundaryLinks]="true" [maxSize]="5"
                            [(page)]="paging.currentPage" [pageSize]="paging.limit" size="sm"
                            (pageChange)="pageAttributes($event)"></ngb-pagination>
        </div>

        <div class="col"><strong>{{ pageCounts() }}</strong></div>
    </div>
</div>

